
We need to create a unit test for a method. Please generate a unit test based on the following specifications:

Method under test:
```
{{ method_signature }}
```

Method description:
```
{{ method_description }}
```

Expected behavior:
```
{{ expected_behavior }}
```

Test case inputs:
```
{{ test_case_inputs }}
```

Expected outputs:
```
{{ test_case_expected_outputs }}
```

Additional context (if any):
```
{{ additional_context }}
```
